img{
  height: 100px;
}

#container{
  display: grid;
  grid-template-rows: 1fr 1fr 4fr;
  justify-items: center;
  height: 90vh;
  grid-gap: 30px;
}

#logo{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90vw;
}

#catagory{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cat-items{
  font-size: 63px;
  text-align: center;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.img-cont{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90vw;
}

.img-cont img{
  height: 250px;
}

.cat{
  text-decoration: underline;
  color: black;
  cursor: pointer;
}

.cat:hover{
  color: rgb(35, 179, 236);
}