*{
  margin: 0;
}

img{
  height: 100px;
  cursor: pointer;
  background: transparent;
}

#container{
  display: grid;
  grid-template-rows: 1fr 1fr 4fr;
  justify-items: center;
  grid-gap: 30px;
  position: absolute;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  /* background: transparent;  Optional: just make scrollbar invisible */
}

#logo{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90vw;
  margin-bottom: 150px;
}

#catagory{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cat-items{
  font-size: 63px;
  text-align: center;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.img-cont{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90vw;
}

.img-cont img{
  height: 250px;
}

.cat{
  text-decoration: underline;
  color: rgb(35, 179, 236);
  cursor: pointer;
  margin-top: 50px;
}

nav{
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

nav a {
  color: white;
  text-decoration: none;
  background: transparent;
  padding: 10px;
  border-radius: 25px;
}

nav a:hover{
  color: black;
  background: yellow;
}

#canvas{
  position: absolute;
}