img{
  width: 300px;
  cursor: pointer;
}



#items{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-cont{
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 50px 1fr;
  margin-bottom: 30px;
}

.item-name{
  grid-column: 1/3;
  text-align: center;
  cursor: pointer;
  color: black;
  transition: color 0.5s linear;
}


.item-name:hover{
  color: lightblue;
}